#hero {
    position: relative;
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#parallax-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

#parallax-img-wrapper {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 115%;
    pointer-events: none
}

#parallax-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

.hero-overlay {
    z-index: 0;
    pointer-events: none
}