@media (max-width:991.98px) {

    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        font-family: Inter, sans-serif
    }

    *,
    ::after,
    ::before {
        box-sizing: border-box
    }

    .container-fluid[class*=px-]>.row {
        margin-right: 0;
        margin-left: 0
    }

    .container-fluid[class*=px-]>.row>[class*=col-] {
        padding-right: 0;
        padding-left: 0
    }

    .hero-introduction,
    .nosotros-section {
        max-width: 100vw;
        width: 100%;
        left: 0;
        right: 0
    }

    .position-absolute {
        max-width: 100vw;
        max-height: 100vh;
        left: 0;
        right: auto
    }

    img {
        max-width: 100%;
        height: auto
    }

    .container,
    .container-fluid,
    .row,
    [class*=col-] {
        word-wrap: break-word;
        overflow-wrap: break-word
    }

    body {
        font-size: 16px;
        line-height: 1.5
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (max-width:575.98px) {
    .container-fluid {
        padding-right: 10px;
        padding-left: 10px
    }

    .position-absolute {
        position: relative;
        max-width: 100%
    }

    body {
        font-size: 14px
    }

    h1 {
        font-size: 1.75rem
    }

    h2 {
        font-size: 1.5rem
    }

    h3 {
        font-size: 1.25rem
    }
}