name: Deploy website on push

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy via FTP
    runs-on: ubuntu-latest

    steps:
      - name: Obtener el código más reciente
        uses: actions/checkout@v4

      - name: Sincronizar archivos con el servidor
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: 0398b5f.netsolhost.com
          username: ${{ secrets.FTPUSERNAME }}
          password: ${{ secrets.FTPPASSWORD }}
          protocol: ftps
          server-dir: /public_html/test-push-ftp/
          local-dir: ./
          exclude: |
            **/.git*
            **/.github/**
            **/*.yml