name: Deploy to IBMty
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy static site
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Deploy via FTP (Sync Changes Only)
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FRPHOSTNAME }}
        username: ${{ secrets.FTPUSERNAME }}
        password: ${{ secrets.FTPPASSWORD }}
        server-dir: /ibmty/
        log-level: verbose
        exclude: |
          **/.git*
          **/.git*/**
          **/node_modules/**
          **/.github/**
          **/.DS_Store