name: Deploy SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Obtener último commit
      uses: actions/checkout@v3

    - name: Limpiar carpeta pública del servidor
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.FRPHOSTNAME }}
        username: ${{ secrets.FTPUSERNAME }}
        password: ${{ secrets.FTPPASSWORD }}
        port: 22
        script: |
          rm -rf /svr/htdocs/ibm/public/*
          echo "Carpeta pública limpiada."

    - name: Subir archivos vía SFTP
      uses: appleboy/scp-action@v1.0.0
      with:
        host: ${{ secrets.FRPHOSTNAME }}
        username: ${{ secrets.FTPUSERNAME }}
        password: ${{ secrets.FTPPASSWORD }}
        port: 22
        source: "dist/*"
        target: "/svr/htdocs/ibm/public"
        overwrite: true