name: FTP Uploader

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Subir archivos al servidor FTP
        uses: zinh/ftp-uploader-action@v0.5
        with:
          ftpHostname: 0398b5f.netsolhost.com
          ftpUsername: ibmty2020
          ftpPassword: Faith2God
          files: "./**/*"
          src: "./"
          dest: "/public_html/"
          ignore: |
            **/.git*
            **/.github/**
            **/*.yml
          dryRun: false